# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json
yarn.lock

# Vite/Build
dist/
build/

# Env / secrets
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc
coverage/
*.tgz
.cache/
